version: 2
updates:
  - package-ecosystem: "npm"
    directory: "/"
    schedule:
      interval: "daily"
    rebase-strategy: 'auto'
    groups:
      minor-patch:
        update-types:
          - minor
          - patch

  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'daily'
    rebase-strategy: 'auto'
