**

!turbo.json
!bun.lock
!package.json

!**/package.json
!**/bun.lock
!**/tsconfig.json
!**/vite.config.ts
!**/react-router.config.ts
!**/build.ts
!**/components.json

!src/**
!app/**
!public/**

# License files and attributions
!LICENSE
!NOTICES.md
!LICENSES/**

