name: Checks

permissions:
  contents: read

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  ci:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          fetch-depth: 0

      - name: Install dependencies
        uses: "./.github/actions/install-dependencies"

      - name: Run type checks
        shell: bash
        run: bun run tsc

      - name: Run tests
        shell: bash
        run: bun run test --ci --coverage

      - name: Build project
        shell: bash
        run: bun run build
